OVERSEEK_API_BASE=http://localhost:3000
PRINT_STATION_ID=
PRINT_STATION_TOKEN=
PRINT_STATION_NAME=
PRINT_AGENT_VERSION=0.1.0
POLL_INTERVAL_MS=5000
DOWNLOAD_DIR=./downloads
DEFAULT_PRINTER_NAME=
PRINT_AGENT_UI_PORT=8787
